# Ignore compiled code
__pycache__/
*.py[cod]
*$py.class

# Mac
._*
.DS_Store

# Vim
*~
*.swp
*.swo

# VS Code
.vscode/launch.json
.idea
MagPy4/.idea

# Development environment
env/
test_files/
tests/
test.py
terminal.py

version.py
build.sh
pypi_release.sh

token.txt
github_token.txt
pypi_token.txt

# User created data
state.json
mms_data/
