# Ignore compiled code
__pycache__/
*.py[cod]
*$py.class

# Mac
._*
.DS_Store

# Vim
*~
*.swp
*.swo

# VS Code
.vscode/launch.json
.idea
MagPy4/.idea

# Development environment
env/
tests/
test.py
terminal.py
version.py
build.sh
token.txt

# User created data
state.json
mms_data/
