include MagPy4/geopack/*.md
recursive-include MagPy4/geopack/geopack *.md *.txt
include MagPy4/help.*
recursive-include MagPy4/images *
recursive-include MagPy4/ *.png
recursive-include MagPy4/testData/ *
include MagPy4/orbittable.txt
include MagPy4/version.txt
